.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  width: 100%;
  min-height: 20rem;
  background-image: linear-gradient(to right bottom, #e5eee8, #201b1b);
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: 10rem;
  background-image: url(../assets/img/logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
  padding: 2px;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f7f7;
  background-color: #402b1e;
  display: inline-block;
  transition: all 0.3s;
  padding: 2px;
  font-family: ui-monospace;
}
.footer__link:hover,
.footer__link:active {
  color: #1281d6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-3px) skewY(-7deg);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  float: right;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

